<div class="navbar navbar-default">
    <a href="/quizzes/" class="navbar-brand">Heta Kappa Quiz</a>
    <ul class="nav navbar-nav" style="float:right">
        <li><a href="/quizzes/new">Create Quiz</a></li>
        <li><a href="#">Profile</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</div>
