<%- include('../layouts/applicationHeader'); %>
<div class="row">
    <div class='col-md-4 col-md-offset-4'>
        <center><h1>QUESTIONS</h1></center><br>
            <% quizzes.forEach(function(quiz){ %>
                <p>
                    <a href="/quizzes/<%=quiz.id%>">Question: <%= quiz.question %></a>
                </p>
            <% }); %>
        </div>
    </div>
</div>
<%- include('../layouts/applicationFooter'); %>
