<%- include('../layouts/applicationHeader'); %>

<a href="/logout">Logout</a>
<a href="/quizzes">Home</a>
<%=foundQuiz.question%>
<br>
<%=foundQuiz.answer%>

<%- include('../layouts/applicationFooter'); %>
