<%- include('../layouts/applicationHeader'); %>
<div class="row">
    <div class='col-md-6 col-md-offset-3'>
        <%=foundQuiz.question%>
        <br>
        <%=foundQuiz.answer%>
    </div>
</div>

<%- include('../layouts/applicationFooter'); %>
