<html>
    <head>
    </head>
    <body>
        <a href="/logout">Logout</a>
        <a href="/quizzes">Home</a>
        <%=foundQuiz.id%>
        <br>
        <%=foundQuiz.question%>
        <br>
        <%=foundQuiz.answer%>
    </body>
</html>
